<!-- assignors/assignor-form/assignor-form.component.html -->
<form class="container" [formGroup]="assignorForm" (ngSubmit)="onSubmit()">
  <div class="title">
    <label for="name">Name</label>
    <input class="input" id="name" [ngClass]="{'error': name?.invalid && name?.touched}" formControlName="name" />
    <span
    class="error-message"
      *ngIf="
        assignorForm.controls['name'].invalid &&
        assignorForm.controls['name'].touched
      "
    >
      Name is required.
    </span>
  </div>
  <div class="title">
    <label for="document">Document</label>
    <input class="input" id="document" formControlName="document"
    [ngClass]="{'error': document?.invalid && document?.touched}"
    />
    <span
    class="error-message"
      *ngIf="
        assignorForm.controls['document'].invalid &&
        assignorForm.controls['document'].touched
      "
    >
      Document is required.
    </span>
  </div>
  <div class="title">
    <label for="email">Email</label>
    <input class="input" id="email" formControlName="email"
    [ngClass]="{'error': email?.invalid && email?.touched}"
    />
    <span
    class="error-message"
      *ngIf="
        assignorForm.controls['email'].invalid &&
        assignorForm.controls['email'].touched
      "
    >
      Email is required.
    </span>
  </div>
  <div class="title">
    <label for="phone">Phone</label>
    <input class="input" id="phone" formControlName="phone"
    [ngClass]="{'error': phone?.invalid && phone?.touched}"
    />
    <span
    class="error-message"
      *ngIf="
        assignorForm.controls['phone'].invalid &&
        assignorForm.controls['phone'].touched
      "
    >
      Phone is required.
    </span>
  </div>
  <button class="button" type="submit" [disabled]="assignorForm.invalid">Submit</button>
</form>
